.lightTheme {
    --background-color: #F4F6F8;
    --color: #000;
}

.darkTheme {
    --background-color: #323742;
    --color: #fff;
}

.label {
    display: block;
    position: relative;
    cursor: pointer;
    display: flex;
    column-gap: 2rem;
    color: var(--color);
}

.label input[type=checkbox] {
    visibility: hidden;
}

.span {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--background-color);
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}

.label:hover input~.span {
    background-color: #939BF4;
    transition: background-color 0.2s ease;
}

.label input:checked~.span {
    background-color: #545DC8;
}